#animation {
  background-color: skyblue;
  color: yellow;
  animation:
    2s linear 0s fade-in;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
